<!DOCTYPE html>
<html>
{% block head %}
  <title>ToDo</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id = "content">
  <center>
    <img src="{{ url_for('static', filename='logo.png') }}" style="height:300px;" alt="Bready, Set, Go!">
          <form action="" method="post" novalidate>
                {{ form1.hidden_tag() }}
                    <div id = "h1">{{ form1.taskTitle.label }}</div><br>
                    {{ form1.taskTitle(class_="rectangle") }}<br><br><br>

                    <div id = "h1">{{ form1.taskTime.label }}</div><br>
                    {{ form1.taskTime(class_="rectangle") }}<br><br>
                <input type="submit" class="button" value="Add"><br><br>
          </form>

        <form action="" method="post" novalidate>
              {{ form2.hidden_tag() }}
              <p>{{ form2.taskFinished.label }}
                  {{ form2.taskFinished(size=32) }}</p>
              <input type="submit" class="button" value="Yay!"><br>
        </form><br>
        <p><b>Tasks:</b></p>
        {% for task in taskList: %}
        <p>{{ task.title }} for {{ task.minutes }} minutes from {{ task.start }} to {{ task.end }}</p>
        {% endfor %}
  </center>
<br><br>

      </div>
{% endblock %}
</html>
