<html>
    <head>
        {% if title %}
        <title>{{ title }} - ToDo</title>
        {% else %}
        <title>Welcome to ToDo!</title>
        {% endif %}
    </head>
    <body>
        <h1>Today, we are working. Woot woot!</h1>
    </body>

    {% block content %}
        <h1>Add Tasks</h1>
        <form action="" method="post" novalidate>
            {{ form1.hidden_tag() }}
            <p>
                {{ form1.taskTitle.label }}<br>
                {{ form1.taskTitle(size=32) }}
            </p>
            <p>
                {{ form1.taskTime.label }}<br>
                {{ form1.taskTime(size=32) }}
            </p>
            <p>{{ form1.submit() }}</p>
        </form>

        <hr>
        {% for task in taskList %}
        <div><p>{{ task.title }} for <b>{{ task.minutes }} minutes.</b></p></div>
        {% endfor %}

        <form action="" method="post" novalidate>
          {{ form2.hidden_tag() }}
          <p>{{ form2.submit() }}</p>
        </form>

    {% endblock %}



</html>
