<!DOCTYPE html>
<html>
{% block head %}
  <title>ToDo</title>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id = "content">
  <center>
    <div><img src="{{ url_for('static', filename='toast.jpeg') }}" style="width:347px;height:250px;">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Bready, Set, Go!"></div>
          <form action="" method="post" novalidate>
                {{ form1.hidden_tag() }}
                    <div id = "h1">{{ form1.taskTitle.label }}</div><br>
                    {{ form1.taskTitle(size=32) }}<br><br><br>

                    <div id = "h1">{{ form1.taskTime.label }}</div><br>
                    {{ form1.taskTime(size=32) }}<br>
                <p>{{ form1.submit() }}</p><br>
          </form>

        <form action="" method="post" novalidate>
              {{ form2.hidden_tag() }}
              <p>{{ form2.taskFinished.label }}
                  {{ form2.taskFinished(size=32) }}</p>
              <p>{{ form2.submit() }}</p><br>
        </form>

        {% for task in taskList: %}
        <p>{{ task.title }} for {{ task.minutes }} minutes from {{ task.start }} to {{ task.end }}.</p>
        {% endfor %}
  </center>


      </div>
{% endblock %}
</html>
